---
name: check-version-update

on:
  workflow_call:
    inputs:
      PACKAGE_DIR:
        type: string
        required: true
    outputs:
      VERSION:
        description: "Semver version"
        value: ${{ jobs.check.outputs.version }}
  
jobs:

  check:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.check-version.outputs.version }}
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Check package.json version has been incremented
        uses: avides/actions-project-version-check@v2
        id: check-version
        with:
          token: ${{ github.token }}
          file-to-check: ${{ inputs.PACKAGE_DIR }}/package.json
      -
        name: Check version has been documented in CHANGELOG.md
        env:
          CHANGELOG_FILE: ${{ inputs.PACKAGE_DIR }}/CHANGELOG.md
          EXPECTED_VERSION: ${{ steps.check-version.outputs.version }}
        run: |
          check_version=$(cat "$CHANGELOG_FILE" | grep "${EXPECTED_VERSION}")
          if $check_version -eq 1; then
            echo "CHANGELOG.md needs to be updated to document version: ${EXPECTED_VERSION}.";
            exit 1;
          fi
