---
name: detect-changes

on:
  workflow_call:
    outputs:
      changed-modules:
        value: ${{ jobs.detect-changes.outputs.changed-modules }}

permissions:
  contents: read
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:

  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      changed-workflows: ${{ steps.changed-workflows.outputs.changes }}
    steps:
      -
        uses: actions/checkout@v6
      -
        name: List go.mod files
        id: list-modules
        run: |
          MODULES=$(find . -name 'go.mod' \
            | sed -nE 's|\./(.*)/go\.mod|\1|pg' \
            | jq -rc --raw-input --slurp 'split("\n") | map(select(. != ""))')

          echo "All modules: $MODULES"

          FILTERS=$(printf '%s' "$MODULES" \
            | yq -o yaml 'to_entries | map({(.value): [.value + "/**"]}) | add')

          {
            echo 'filters<<EOF';
            echo "$FILTERS";
            echo 'EOF';
          } >> "$GITHUB_OUTPUT"
      -
        name: Check for module changes
        uses: dorny/paths-filter@v3
        id: changed-modules
        with:
          filters: ${{ steps.list-modules.outputs.filters }}
    