---
name: detect-changes

on:
  workflow_call:
    outputs:
      changed-modules:
        value: ${{ jobs.detect-changes.outputs.changed-modules }}

permissions:
  contents: read
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:

  detect-changes:
    runs-on: ubuntu-latest
    outputs:
      changed-modules: ${{ steps.changed-modules.outputs.changed }}
    steps:
      -
        uses: actions/checkout@v6
      -
        name: Detect changed modules
        id: changed-modules
        uses: ./.github/actions/detect-changed-go-modules
    