---
name: on-push

on:

  push:
    branches: [main]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:

  detect-changes:
    uses: ./.github/workflows/detect-changes.yml

  release:
    needs: detect-changes
    uses: ./.github/workflows/release.yml
    if: ${{ needs.detect-changes.outputs.changed-modules != '[]' }}
    with:
      modules: ${{ needs.detect-changes.outputs.changed-modules }}
    secrets: inherit
