---
name: pr

on:

  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:

  detect-changes:
    uses: ./.github/workflows/detect-changes.yml

  check-version-updates:
    needs: detect-changes
    if: ${{ needs.detect-changes.outputs.changed-modules != '[]' }}
    uses: ./.github/workflows/check-version-updates.yml
    with:
      MODULES: ${{ needs.detect-changes.outputs.changed-modules }}
