---
name: release

on:

  workflow_call:
    inputs:
      modules:
        type: string
        required: true
        description: |
          JSON array of modules to release
      dry-run:
        type: boolean
        required: false
        default: false
        description: Whether to perform a dry run (no tags or releases will be created)

concurrency:
  group: ${{ github.ref }}-create-release
  cancel-in-progress: false

permissions:
  contents: write
  pull-requests: write

defaults:
  run:
    shell: bash

jobs:

  publish:
    runs-on: ubuntu-latest
    if: ${{ inputs.modules != '[]' && inputs.modules != '' }}
    strategy:
      fail-fast: false
      matrix:
        module: ${{ fromJson(inputs.modules) }}
    steps:
      -
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      -
        name: Output tag prefix
        id: tag-prefix
        run: |
          echo "prefix=${{ matrix.module }}/v" | tee -a "$GITHUB_OUTPUT"
      -
        name: Parse version from package.json
        id: parse-version
        env:
          TAG_PREFIX: ${{ steps.tag-prefix.outputs.prefix }}
        run: |
          VERSION=$(cat "${{ matrix.module }}/package.json" | jq -rc '.version')
          VERSION=${VERSION##v}
          echo "version=$VERSION" | tee -a "$GITHUB_OUTPUT"

          TAG="${TAG_PREFIX}${VERSION}"
          echo "version-tag=$TAG" | tee -a "$GITHUB_OUTPUT"
      -
        name: Setup git config
        if: ${{ inputs.dry-run == false }}
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
      -
        name: Create tag for current HEAD
        if: ${{ inputs.dry-run == false }}
        env:
          NEXT_TAG: ${{ steps.parse-version.outputs.version-tag }}
        run: |
          git tag $NEXT_TAG
          git push origin $NEXT_TAG
